---
import { Image } from 'astro:assets';
import Nails from '../assets/nails/nails.webp';
import Semi from '../components/info/Semi.json';
import Kapping from '../components/info/Kapping.json'

const { images, article } = Semi.section;
const { content, additionalImage, title } = article;


---

<section >
<picture>



  <figure class="flex flex-wrap gap-5 justify-center p-10">
    {
      images.map(data => (
          <figure>
          <img src={data.src} alt={data.alt}/>
          </figure>
      ))
     }
  </figure>
</picture>
    <article class="flex items-center flex-col-reverse md:flex-row text-center md:text-left gap-5 p-5">
        <div class="flex flex-col gap-5">
      <h2> {title} </h2>
      <p> {content} </p>
    </div>
   
      <picture>
       <img src={additionalImage.src} alt={additionalImage.alt}/>
      </picture>
    </article>
</section>

<style>
    img {
        
        min-width: 200px;
        width: 300px;
        height: 300px;
    }
    img {
        transition: all .3s;
       
    }
    img:hover {
        transform: scale(1.1);
    
    }
    article {
        background-color: var(--color-primary);
    }
</style>